@section head{
    

     <style type="text/css">
         body {
            background-image: url("~/../Carbkc.png");
            margin: 0;
        }

        h1{
            font-size:50px;
            color:black;
        }

        p{
            font-size:30px
            color:red;
        }
    </style>
}


<div class="text-center">
    
    <h1 class="display-4">Welcome to our Car Rental service</h1>
    <p>Check our car collection and rent now !</p>
</div>
